<form method="post" action="/users/aboutus" class="well">
  <h1 class="page-header" >ABOUT KNOW YOUR PROFESSOR</h1>
  <div>
  		<h2 class="page-header">MOTIVATION</h2>
  		<p>
  			KNOW YOUR PROFESSOR is developed for Stevens community, by Stevens students. Picking the best courses and teachers is a rite of passage for every student, and connecting with peers on the site has turned out as a key way for many of students to navigate this process. The platform does what students have been doing everlastingly - checking in with each other – their companions, their siblings, their cohorts – to make sense of who's an extraordinary educator and who's one you might need to keep away from.
  		</p>
  </div>
  <br>
  <br>
  <div>
  		<h3 class="page-header">DESIGNED AND DEVELOPED BY:</h3>
  		<h4 >Team Integrators</h4>
  		<img src="../images/collage.jpg" widht= "500" height="500"></img>		
  		
  </div>
</form>
