<form method="post" action="/users/VerfiyUser" class="well">
<h1 class="page-header">FORGOT PASSWORD</h1>
<div class="form-group">
        <label id="lbluserId">USERNAME</label>
        <input type="text" id="txtuserId" name="txtuserId" class="form-control" placeholder="Username" />
    </div>
    <div class="form-group">
        <label id="lblmailId">EMAIL</label>
        <input type="email" id="txtEmailId" name="txtEmailId" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group">
        <label>SECURITY QUESTION</label>
        <select id="ddnSecQuestion" name="ddnSecQuestion" class="form-control">
            <option value="">Please select</option>
            <option value="petname">What is your pet's name?</option>
            <option value="favcolor">What is your favorite color?</option>
        </select>
    </div>
    <div class="form-group">
        <label>SECURITY ANSWER</label>
        <input type="text" id="txtSecAnswer" name="txtSecAnswer" class="form-control" placeholder="Security Answer"/>
    </div>
    <input type="submit" value="Submit" id="btnSubmit" name="btnSubmit" class="btn btn-default btn-primary" />
</form>