<form method="post" action="/users/resetPassword" class="well">
<h1 class="page-header"> RESET PASSWORD</h1>
    <input type="hidden" value="{{userId}}" id="hdnUserId" name="hdnUserId" />
    <div class="form-group">
        <label id="lblPassword">NEW PASSWORD</label>
        <input type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="Type new Password" minlength="4" maxlength="12"/>
    </div>
    <div class="form-group">
        <label id="lblPassword2">CONFIRM NEW PASSWORD</label>
        <input type="password" id="txtPassword2" name="txtPassword2" class="form-control" placeholder="Type password again" minlength="4" maxlength="12"/>
    </div>
    <input type="submit" value="Submit" id="btnSubmit" name="btnSubmit" class="btn btn-default btn-primary" />
</form>