
<form method="post" action="/ratings/viewRatings">
    <div class="form-gorup">
        <h1>Search Professor</h1>
        <input type="text" class="form-control" placeholder="Enter Professor Name" name="txtProfessorName" id = "txtProfessorName">
    </div>
</form>
<br/>

<div id="divProfCommon">
    <label id="lblProfName"></label>
    <label  id="lblOverallRating"></label>
</div>

<div id="divComments">
</div>

<script type="text/javascript" src="/js/showProfRatings.js"></script>
